*{
    color: #000000;
    background-color: #F9EA85;
    font-family: 'Courier New', Courier, monospace;
}
.Todo-item:hover {
    display:block ;

}
.trash-icon {
    display: block;
  }
.colorred{
    color:#9e2929;
}
